*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.bx {
    font-size: 100px;
    color: #F59E0B;
}